/* Adicione o seguinte código em reset.css */

/* Reset CSS */
* {
    font-family: 'Noto Sans Mono', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Define a caixa de modelo como border-box */
}
/* Estilos para os textos em negrito */
span {
    color: rgb(0, 255, 255);
    text-shadow: 0px 0px 5px rgb(0, 255, 255);
}

/* Estilos para o corpo */
body {
    overflow-x: hidden;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    min-height: 100vh; /* Altura mínima da visualização */
}

/* Adicione estilos adicionais conforme necessário */
